<h1> LOGIN FORM </h1>

<form action="/sessions/login" method="POST">
    <input type="text" name="user[email]">
    <input type="password" name="user[password]">

    <input type="submit" value="Login">
</form>