<h1> LOGIN FORM </h1>

<form action="/login" method="POST">
    <h3>Email: </h3><input type="email" name="email">
    <h3>Password: </h3><input type="password" name="password">

    <input type="submit" value="Login">
</form>