<h1> LOGIN FORM </h1>

<form action="/login" method="POST">
    <h3>Email: </h3><input type="email" name="email">
    <h3>Password: </h3><input type="password" name="password">
    <br />
    <br />
    <input type="submit" value="Login">
</form>

<br />
<p>New here? <a href="/signup" >Sign up</a></p>
