<h1>USER SIGN UP PAGE</h1>

<form method="POST" action="/signup" >

    <h3>Name: </h3><input type="text" name="user[name]" />
    <h3>Location: </h3><input type="text" name="user[location]" />
    <h3>Email: </h3><input type="email" name="user[email]" /> 
    <h3>Password: </h3><input type="password" name="user[password]" /> 
    <br />
    <br />
    <input type="submit" value="Sign Up" > 

</form>
<br />
<p>Already signed up? <a href="/login" >Login</a>
