<h1>USER SIGN UP PAGE</h1>

<form method="POST" action="/signup" >

    <h3>Name: </h3><input type="text" name="user[:name]" />
    <h3>Email: </h3><input type="email" name="user[email]" /> 
    <h3>Password: </h3><input type="password" name="user[password]" /> 
    <input type="submit" value="Sign Up" > 

</form>
