<div class="wrapper">

<h1 class="text-center">I Need A Driver</h1>

<form action="/posts" method="POST" >
  <div class="row g-3">
    <div class="col-md-12">
      <label for="title" class="form-label">Title</label>
      <input type="text" name="post[title]" class="form-control" id="title">
    </div>

    <div class="col-md-12">
      <label for="description" class="form-label">Description</label>
      <input type="text" name="post[desc]" class="form-control" id="description">
    </div>

    <div class="col-md-5">
      <label for="car_make" class="form-label">Car Make</label>
      <input type="text" name="post[car_make]" class="form-control" id="car_make">
    </div>
    <div class="col-md-5">
      <label for="car_model" class="form-label">Car Model</label>
      <input type="text" name="post[car_model]" class="form-control" id="car_model">
    </div>
    <div class="col-md-2">
      <label for="car_year" class="form-label">Car Year</label>
      <input type="number" name="post[car_year]" class="form-control" id="car_year">
    </div>
    <div class="col-md-4"> 
      <label for="origin" class="form-label">Where is your car?</label>
      <input list="locations" type="text" name="origin" class="form-control" id="origin" value="<%=current_user.location.full_name%>">
        <datalist id="locations">
            <% location_options.each do |l| %>
                <option value='<%= l %>'>
            <% end %>
        </datalist>
    </div>
    <div class="col-md-5">
      <label for="destination" class="form-label">Where's it going?</label>
      <input list="locations" type="text" name="destination" class="form-control" id="destination">
        <datalist id="locations">
            <% location_options.each do |l| %>
                <option value='<%= l %>'>
            <% end %>
        </datalist>
    </div>
    <div class="col-md-3">
      <label for="end_date" class="form-label">By when?</label>
      <input type="date" name="post[end_date]" class="form-control" id="end_date">
    </div>
    <div class="col-md-6">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="post[public]" id="public" value="true" checked>
        <label class="form-check-label" for="public">Public</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="post[public]" id="private" value="false">
        <label class="form-check-label" for="private">Private</label>
      </div>
    </div>
      <input class="btn btn-primary" type="submit" value="Create Post"/>
  </div>
</form>

