<h1>POST NEW FORM</h1>

<form action="/posts" method="POST" >
    <h2>Title: </h2><input type="text" name="post[title]" />
    <h2>Description: </h2><input type="text" name="post[desc]" />

    <div class='car_type'>
      <h2>Car Make: </h2><input type="text" name="post[car_make]" />
      <h2>Car Model: </h2><input type="text" name="post[car_model]" />
      <h2>Car Year: </h2><input type="integer" name="post[car_year]" />
    </div>

    <div class='locations'>
      <h2>Where is your car? </h2><input type="text" name="post[origin]" />
      <h2>Where does it need to be? </h2><input type="text" name="post[destination]" />
    </div>

    <h2>By when? </h2><input type="date" name="post[end_date]" />
    <br/>
    <br/>
    <input type="radio" name="post[public]" value="true" "checked" /><p>Public</p>
    <input type="radio" name="post[public]" value="false"/><p>Private</p>

    <input type="submit" value="Create Post"/>
</form>
