<h1>POST NEW FORM</h1>

<form action="/posts" method="POST" >
    <h2>Title: </h2><input type="text" name="post[title]" />
    <h2>Description: </h2><input type="text" name="post[desc]" />
  <!--<h2>Where is your car? </h2><input type="text" name="post[s_location]" /> -->
  <!--<h2>Where does it need to be? </h2><input type="text" name="post[e_location]" /> -->
    <h2>By when? </h2><input type="date" name="post[end_date]" />

    <input type="submit" value="Post" />
</form>
