<h1 class="text-center">Oops! This page doesn't exist (yet) </h1>
<p class="text-center">Follow the dog back home</p>

<div class="d-flex justify-content-center">
    <a href="/"><img class="card border-warning" src="https://miro.medium.com/max/1400/0*huLmlJD-jhsfi2-z.jpg" alt="Error Page"></a>
</div>
