<h1> LOGGED IN HOMEPAGE </h1>
<!-- view all posts, create post, logout -->
<% if false %>
    <a href="/posts">View all Posts</a>
    <a href="/posts/new">Create Post</a>
    <a href="/logout">Logout</a>
<% end %>